<!--<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>-->
<!--help_path -> '/help'
help_url  -> 'http://www.example.com/help'

-->
<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  <a href="http://www.example.com/help">Help page</a>.
</p>
